
.formulario{
    border: 5px solid blueviolet;
    padding: 10px;
    background-color: azure;
    border-radius: 10px;
}

.colorFondo{
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.botonEnviar{
    background-color: red;
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.nombreColor{
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
}
/*
input{
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
}
*/
.acomodoLabel{
    display: inline-block;
    width: 100px;
}